<form action="/insertnew" method='post'>
  <label for="">Reg.</label>
  <input type="text" name='reg'>
  <label for="">Type of the car</label>
  <input type="text" name='type'>
  <label for="">Manufacturer</label>
  <input type="text" name='manuf'>
  <label for="">Model</label>
  <input type="text" name='model'>
  <label for="">Make</label>
  <input type="text" name='make'>
  <label for="">Price</label>
  <input type="text" name='price'>
  <label for="">Image of the car</label>
  <input type="text" name='img'>
  <button>Submit</button>
</form>
