<form name='login' action='/login' method='get'>
  <label>Username</label>
  <input type="text" name='email' placeholder="email here">
  <label>Password</label>
  <input type="password" name='pw' placeholder="">
  <button>Submit</button>
</form>
