<form id='login_form' action="/session/signup" method='post'>
  <label for="">username</label>
  <input id='login_uname' type="text" name='new_username'>
  <div id='check'></div>
  <label for="">password</label>
  <input id='npw' type="password" name='new_password'>
  <label for="">confirm password</label>
  <input id='cpw' type="password" name='c_password'>
  <div id='pwcheck'></div>
  <button>submit</button>
</form>
