<h1>Good Food Hunting</h1>

<%if !logged_in?%>
  <div><a href="/session/new">Login</a></div>
<%else%>
  <p>Welcome! <%=current_user.email%></p>
<%end%>
<% @dishes.each do |dish|%>
<%= "<h2>#{dish['name']}</h2>"%>
<%= "<img src=#{dish['img_url']}>"%>
<%= "<a href = '/dishes/#{dish['id']}'>Show detail</a>"%>
<%end%>
<div><a href="/dishes/new">Add Dishes</a></div>
