.flex-container{
  display: flex;
  margin: auto;
  height: 400px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.weapon_card{
}

img{
  height:200px;
}

.pager{
  display: flex;
  margin: auto;
  height: 30px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.page{
  background-color: grey;
  color: #fff;
  margin: 10px 20px;
  padding: 5px 5px;
}
