

  <h2>Show me the money!</h2>

  <form action="/thank" method="get">
    <label for="">email</label>
    <input type="text" id="email" name="email" >

    <label for="">amount</label>
    <input type="text" id="amount" name="amount" >

    <button>Donate Kidney</button>
  </form>
