<form action="/newpokes" method="post">
  <label for="">Species</label>
  <input name="species" type="text"><div></div>
  <label for="">Nickname:</label>
  <input name="name" type="text">
  <label for="">type</label>
  <input name="type" type="text">
  <label for="">Level:</label>
  <input name="lv" type="text"><div></div>
  <button>Add Pokemons</button>
</form>
